<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.bbook.LoginActivity" />
        <activity
            android:name="com.example.bbook.HelloWorldActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.bbook.RegisterActivity" />
        <activity android:name="com.example.bbook.AddGoodsActivity" />
        <activity android:name="com.example.bbook.OpenStoreActivity" />
        <activity android:name="com.example.bbook.BookDetailActivity" />
        <activity android:name="com.example.bbook.PasswordRecoverActivity" />
        <activity
            android:name="com.example.bbook.BuyActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.bbook.MystoreActivity" />
        <activity android:name="com.example.bbook.ForumContentActivity" />
        <activity android:name="com.example.bbook.AddNoteActivity" />
        <activity android:name="com.example.bbook.AddCommentActivity" />
        <activity android:name="com.example.bbook.MyArticleActivity" />
        <activity android:name="com.example.bbook.ModifyArticleActivity" />
        <activity android:name="com.example.bbook.SearchArticleActivity" />
        <activity android:name="com.example.bbook.ChangePasswordActivity" />
        <activity
            android:name="com.example.bbook.AddToCartActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.bbook.ShopActivity" />
        <activity android:name="com.example.bbook.AddCommomInfoActivity" />
        <activity android:name="com.example.bbook.ManageCommomInfoActivity" />
        <activity android:name="com.example.bbook.MyCommentActivity" />
        <activity android:name="com.example.bbook.CommentTomeActivity" />
        <activity android:name="com.example.bbook.PayActivity" />
        <activity android:name="com.example.bbook.ChangeUserMessageActivity" />
        <activity android:name="com.example.bbook.ChangeMessageActivity" />
        <activity android:name="com.example.bbook.AddReplyActivity" />
        <activity android:name="com.example.bbook.ChatActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.example.bbook.SetPayPasswordActivity" />
        <activity android:name="com.example.bbook.AddRewardActivity" />
        
    </application>

</manifest>